*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html{
    scroll-behavior: smooth;
}

section{
    width: 100%;
    height: 100vh;
}

section nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;
}

section nav .logo img{
    width: 100px;
    margin: 7px 0;
}

section nav ul{
    list-style: none;
}

section nav ul li{
    display: inline-block;
    margin: 0 15px;
}

section nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s;
}

section nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #fac031;
    display: block;
    transition: 0.2s linear;
}

section nav ul li a:hover::after{
    width: 100%;
}

section nav ul li a:hover{
    color: #fac031;
}

section nav .icon i{
    font-size: 18px;
    color: #000;
    margin: 0 5px;
    transition: 0.3s;
}

section nav .icon i:hover{
    color: #fac031;
}
section .main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 130px;
}

section .main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: center;
    top: 130px;
}

section .main .men_text h1{
    font-size: 60px;
    position: center;
    top: -90px;
    left: 20px;
}

section .main .men_text h1 span{
    margin-left: 15px;
    color: #fac031;
    font-family: 'Courier New', Courier, monospace;
    line-height: 20px;
    font-size: 70px;
}
section .main .men_text p{
    width: 700px;
    text-align: center;
    margin-right: 100px;
    line-height: 70px;
    font-size: x-large;
}

section .main_btn{
    background: #fac031;
    position: relative;
    left: 123px;
    bottom: 30px;
    width: 150px;
    cursor: pointer;
    padding: 12px 25px;
}

section .main_btn a{
    color: #fff;
    margin-right: 5px;
    text-decoration: none;
}

section .main_btn i{
    color: #fff;
    transition: 0.3s;
}

section .main_btn:hover i{
    transform: translateX(7px);
}

.about{
    width: 100%;
    height: 100vh;
    padding: 60px 0;
}

.about .about_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .about_main .image img{
    width: 600px;
    position: relative;
    top: 50px;
}

.about .about_main .about_text h1 span{
    color: #fac031;
    margin-right: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.about .about_main .about_text h1{
    font-size: 55px;
    position: relative;
    bottom: 50px;
}

.about .about_main .about_text h3{
    font-size: 30px;
    margin: 0 0 20px 0;
}

.about .about_main .about_text p{
    width: 650px;
    text-align: center;
    margin-right: 30px;
    line-height: 22px;
}

.about .about_btn{
    background: #fac031;
    padding: 12px 25px;
    text-decoration: none;
    color: #fff;
    position: relative;
    left: 55%;
    bottom: 30px;
}

.gallery{
    width: 100%;
    padding: 70px 0;
}

.gallery h1{
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery h1 span{
    margin-left: 15px;
    color: #fac031;
    font-family: 'Courier New', Courier, monospace;
}



.gallery .gallery_image_box{
    width: 95%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.gallery .gallery_image_box .gallery_image{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.gallery .gallery_image_box .gallery_image img{
    width: 100%;
    transition: .3s;
}

.gallery .gallery_image_box .gallery_image:hover img{
    opacity: 0.4;
}

.gallery .gallery_image_box .gallery_image h3{
    position: absolute;
    font-size: 35px;
    margin-bottom: 130px;
    color: #fac031;
    font-family: polo;
    z-index: 5;
    opacity: 0;
    transition: 0.3s;
}

.gallery .gallery_image_box .gallery_image:hover h3{
    opacity: 1;
}

.gallery .gallery_image_box .gallery_image p{
    position: absolute;
    width: 350px;
    margin-top: 30px;
    text-align: center;
    color: white;
    line-height: 22px;
    opacity: 0;
    z-index: 5;
    transition: 0.3s;
}

.gallery .gallery_image_box .gallery_image:hover p{
    opacity: 1;
}

.gallery .gallery_image_box .gallery_image .gallery_btn{
    position: absolute;
    margin-top: 180px;
    color: #000;
    background: #fac031;
    padding: 7px 25px;
    text-decoration: none;
    opacity: 0;
    transform: translateY(45px);
    z-index: 5;
    transition: 0.3s;
}

.gallery .gallery_image_box .gallery_image:hover .gallery_btn{
    opacity: 1;
    transform: translateY(0);
}

.vlog{
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
}

.vlog h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    margin-bottom: 30px;
}

.vlog h1 span{
    color: #fac031;
    margin-left: 15px;
    font-family: 'Courier New', Courier, monospace;
}


.vlog  .vlog_box{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 13%;
}

.vlog .vlog_box .profile{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    transition: 0.4s;
}

.vlog .vlog_box .profile:hover{
    border-radius: 20px;
    height: 320px;
}

.vlog .vlog_box .profile img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    z-index: 2;
    transition: 0.4s;
}

.vlog .vlog_box .profile:hover img{
    border-radius: 20px;
    margin-top: -230px;
}

.vlog .vlog_box .profile .info{
    position: absolute;
    text-align: center;
    top: 25%;
    transition: 0.4s;
}

.vlog .vlog_box .profile:hover .info{
    top: 60%;
}

.vlog .vlog_box .profile .info .name{
    color: #fac031;
    margin-bottom: 15px;
}

.vlog_icon {
    display: flex;                  
    justify-content: center;        
    align-items: center;            
    gap: 15px;                      
    padding: 10px;                 
}

.vlog_icon a {
    font-size: 25px;                
    color: black;                    
    text-decoration: none;          
    transition: color 0.3s, transform 0.3s;  
}

.vlog_icon a:hover {
    color: #0073e6;                 
    transform: scale(1.1);          
}

.vlog_icon a.fa-facebook-f:hover {
    color: blue;                 
}

.vlog_icon a.fa-tiktok {
    font-size: 25px;                
    color: black;                 
    text-decoration: none;          
    transition: color 0.3s, transform 0.3s; 
}

.vlog_icon a.fa-tiktok:hover {
    color: #69c9d0;                 
    transform: scale(1.1);         
}

.vlog_icon a.fa-youtube:hover {
    color: #ff0000;        
}


.footer{
    color: black;
    padding: 20px 0;
    text-align: center;
}

.footer .social-links{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0;
}

.footer .social-links li {
    display: inline-block;
}

.footer .social-links li a{
    color: black;
    font-size: 15px;
    text-decoration: none;
    transition: color 0.3 ease;
}

.footer .social-links li a:hover{
    color: #fac031;
}

